
<input type="text" id="display" [(ngModel)]="display">
<section>
  <button (click)="clearDisplay()">c</button>
  <button></button>
  <button (click)="appendcharacter('%')">%</button>
  <button (click)="appendcharacter('/')">/</button>
  <button (click)="appendcharacter('7')">7</button>
  <button (click)="appendcharacter('8')">8</button>
  <button (click)="appendcharacter('9')">9</button>
  <button (click)="appendcharacter('*')">*</button>
  <button (click)="appendcharacter('4')">4</button>
  <button (click)="appendcharacter('5')">5</button>
  <button (click)="appendcharacter('6')">6</button>
  <button (click)="appendcharacter('-')">-</button>
  <button (click)="appendcharacter('1')">1</button>
  <button (click)="appendcharacter('2')">2</button>
  <button (click)="appendcharacter('3')">3</button>
  <button (click)="appendcharacter('+')">+</button>
  <button (click)="appendcharacter('0')">0</button>
  <button (click)="appendcharacter('.')">.</button>
  <button (click)="calculate()">=</button>
  <button (click)="appendcharacter('')"></button>
</section>



